Task #1

Crea una lista con los nombres de todos los planetas del sistema solar (en orden)
Haz que Python te diga cuántos planetas hay examinando tu lista
Muestre los primeros cuatro planetas del sistema solar (los planetas rocosos)
Imprimir el nombre del planeta que tiene una s al final de su nombre

In [3]:
ss=['Mercurio','Venus','Tierra','Marte','Jupiter','Saturno','Urano','Neptuno']
len(ss)

8

In [7]:
ss4=ss[0:4]
print(ss4)

['Mercurio', 'Venus', 'Tierra', 'Marte']

In [9]:
print(ss[1])

Venus

2° Task

Asignar el dato recibido a una variable.
Aplicar la transformación de unidades usando esta variable.
Guardar el dato en Celsius en otra variable.
Utilizar la función print para mostrar ambos resultados.

In [17]:
temp_f=30.3
(5/9)*(temp_f-32)
temp_c=(5/9)*(temp_f-32)
print(temp_f)
print(temp_c)

30.3
-0.9444444444444441

3° Task

array ([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16])

In [20]:
array=([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16])
#1row 16 columns
print(array)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]

In [23]:
import numpy as np
fourxfour=np.reshape(array,(4,4))
print(fourxfour)

[[ 1  2  3  4]
 [ 5  6  7  8]
 [ 9 10 11 12]
 [13 14 15 16]]

4° Task

Calcule el seno y el coseno de los ángulos: 0, 30, 45, 60 y 90 dados en grados:

In [34]:
angulos=np.array([0,30,45,60,90])
radianes=angulos*(np.pi/180)
senoradines=np.sin(radianes)
cosradines=np.cos(radianes)
cosradines

array([1.00000000e+00, 8.66025404e-01, 7.07106781e-01, 5.00000000e-01,
       6.12323400e-17])

5° Task


Finite differences | Diferencias finitas